body{
    margin:0;
    width: 100%;
    background-color: #f2f2f2;
}

.position{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container{
    background-color: #f2f2f2;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
h1{
    font-family: Arial;
}
.Selección{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    padding-top:5%;

}
.Seleccionado{
    height: 40vh;
    width: 15vw;
    background-color: white;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:15% ;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.Seleccionado:hover{
    scale: 1.3;
}
.imagen{
    margin: 10%;
    border-bottom: solid 1px grey;
}
.precio{
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
a{
    text-decoration: none;
    color:black
}

@media screen and (max-width:768px) {

    main{
        width: 100%;
    }

    
    
    
}