body{
    margin:0;
    background-color: #ebebeb;
}
.container{
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    
    
}
.titulo{
    padding: 2%;
}

.texto{
    width:50%;
    text-align:justify;
}



.galeria{
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}

.galeria iframe,
.galeria img {
    border-radius: 10px; 
}

